* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#translator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    label {
        display: block;
    }
    .translator__section {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    textarea {
        resize: none;
        outline: none;
        border: 1px solid rgba(194, 194, 194, 0.3);
        box-shadow: inset 0px 0px 18px -6px rgba(0,0,0,0.4);
        transition: all 200ms ease-out;
        padding: 0.5rem;
        &:focus {
            box-shadow: inset 0px 0px 25px -6px rgba(0, 0, 0, 0.6);
        }
    }
    button {
        background: white;
        border: 1px solid rgba(194, 194, 194, 0.3);
        border-radius: 5px;
        padding: 0.5rem;
        margin: 1rem 0;
        transition: all 200ms ease-out;
        outline: none;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.4);
            transform: translateY(-0.1rem);
        }
    }
}
